@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            background-color: #19123B;
            min-height: 100vh;
            display: flex;
            align-items: center;
        }

        .card {
            border: none;
            border-top: 5px solid rgb(176,106,252);
            background: #212042;
            color: #57557A;
        }

            .card p.text-center {
                font-weight: 600;
                font-size: 15px;
                color: #fff;
            }

        .social-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background: #2A284D;
            height: 40px;
            width: 90px;
            margin: 0 auto;
        }

            .social-icon:hover {
                cursor: pointer;
            }

        .fa-twitter {
            color: #56ABEC;
        }

        .fa-facebook {
            color: #1775F1;
        }

        .fa-google {
            color: #CB5048;
        }

        .division {
            position: relative;
            margin: 30px auto 20px;
            text-align: center;
        }

            .division .line {
                border-top: 1.5px solid #57557A;
                position: absolute;
                top: 13px;
                width: 85%;
            }

        .line.l {
            left: 52px;
        }

        .line.r {
            right: 45px;
        }

        .division span {
            font-weight: 600;
            font-size: 14px;
            color: #fff;
        }

        .form-control {
            border: 1px solid #57557A;
            border-radius: 3px;
            background: #212042;
            margin-bottom: 20px;
            letter-spacing: 1px;
            color: #fff;
        }

            .form-control:focus {
                border: 1px solid #57557A;
                background: #212042;
                color: #fff;
                box-shadow: none;
            }

        .btn-primary {
            background: linear-gradient(135deg, rgba(176,106,252,1) 39%,rgba(116,17,255,1) 101%);
            border: none;
            border-radius: 50px;
            width: 100%;
        }

        .text-muted {
            color: #F2CEFF !important;
        }

        .bn {
            text-decoration: underline;
            color: #F2CEFF;
            cursor: pointer;
        }

        .form-check-label {
            color: #F2CEFF;
        }

        @@media(max-width: 767px) {
                .division .line {
                    width: 50%;
                }
            }
        </style>
    }

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card py-3 px-2">
                    <p class="text-center mb-3 mt-2">Login With</p>
                    <div class="row mx-auto">
                        @if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div class="col-12 text-center">
                                <p class="text-muted">
                                    No external authentication services configured.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div class="row mx-auto">
                                    @foreach (var provider in Model.ExternalLogins!)
                                    {
                                        <div class="col-4">
                                            <button type="submit" class="social-icon" name="provider" value="@provider.Name" title="Log in using @provider.DisplayName">
                                                <i class="fab @($"fa-{provider.Name.ToLower()}")"></i>
                                            </button>
                                        </div>
                                    }
                                </div>
                            </form>
                        }
                    </div>

                    <div class="division">
                        <div class="row">
                            <div class="col-3"><div class="line l"></div></div>
                            <div class="col-6"><span>Login Page</span></div>
                            <div class="col-3"><div class="line r"></div></div>
                        </div>
                    </div>

                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="Email" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" placeholder="Password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group form-check">
                                    <input asp-for="Input.RememberMe" class="form-check-input" />
                                    <label asp-for="Input.RememberMe" class="form-check-label">Stay Connected</label>
                                </div>
                            </div>
                            <div class="col-md-6 col-12 text-right">
                                <a id="forgot-password" asp-page="./ForgotPassword" class="bn">Passsword Forgotten</a>
                            </div>
                        </div>

                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-primary btn-lg">
                                <small><i class="far fa-user pr-2"></i>Login</small>
                            </button>
                        </div>
                    </form>

                    <div class="text-center mt-3">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-muted">Create a new Password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }