@model IEnumerable<Appointment>



<section class="py-5">
    <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-light rounded-4 py-5 px-4 px-md-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h1 class="fw-bolder">All Appointments</h1>

            </div>
            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Appointment Title</th>
                        <th scope="col">Scheduled Time</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Client Name</th>
                        <th scope="col">Assigned Lawyer</th>
                        <th scope="col">Is Completed</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var appointment in Model)
                    {
                        <tr>
                            <td>@appointment.Title</td>
                            <td>@appointment.ScheduledTime.ToString("yyyy-MM-dd HH:mm")</td>
                            <td>@appointment.Notes</td>
                            <td>@($"{appointment.Case.Client.User.FirstName} {appointment.Case.Client.User.LastName}")</td>
                            <td>@(appointment.Case.AssignedLawyer != null ? $"{appointment.Case.AssignedLawyer.User.FirstName} {appointment.Case.AssignedLawyer.User.LastName}" : "Unassigned")</td>
                            <td>@(appointment.IsCompleted.HasValue ? (appointment.IsCompleted.Value ? "Yes" : "No") : "N/A")</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="text-center mb-5">
                <a class="btn btn-secondary" href="@Url.Action("Index", "AdminHome")">>Back to Home</a>

            </div>

        </div>


    </div>
</section>
